.nav {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  .nav-item {
    flex-grow: 1;
    margin-right: 3px;
    &:last-child {
      margin-right: 0;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
  .nav-link {
    font-weight: 500;
  }
}
.required {
  &::after {
    content: "\f069";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font-size: 0.45rem;
    color: $danger;;
    position: absolute;
    top: 5px;
    padding: 0 5px;
  }
}
.w-1000{
  width: 1000px;
}
.detail-field{
  background-color: #fafafa;
}